* {
    margin: 0;
    padding: 0;
}

:root {
    --PrimeiraCor: #000000;
    --SegundaCor: #1a1a1a;
    --TerceiraCor: #f9fcff;
    --QuartaCor: #2e2e2e;

    --tamanhoFontePequena: ;
    --tamanhoFonteMedia: ;
    --tamanhoFonteGrande: ;
}


body {

    height: 100%;
    background-image: url(imgs/Apple-September-Event-California-Streaming-BasicAppleGuy-iDownloadBlog-6K-No-Logo.png);

    background-size: cover;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
    background-attachment: fixed;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: white;
    width: 100%;
    display: grid;
    grid-template-areas:
        "h h h"
        "a m m"
        "a m m"
        "a m m"
        "f f f";
}

header {
    position: fixed;
    background-color: transparent;
    grid-area: h;


    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    transition: .5s;

    width: 100%;
}

.header-logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;


}

.header-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;

}

.header-links ul li {
    display: inline-block;
    padding-right: 50px;
    list-style: none;
    font-size: 20px;

}

.rolagem {
    background: linear-gradient(to bottom, #1B3C59, #75728C);
    color: white;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 100%;
}

main {
    padding-top: 200px;
    grid-area: m;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;
}

.wrapper-foto-ladoA ul li {
    list-style: none;
    padding-top: 30px;

}

.wrapper-foto-ladoB ul li {
    list-style: none;
    padding-top: 30px;
}

.wrapper-foto-ladoA img {
    border-radius: 3%;
    box-shadow: 0 4px 8px #cba1c7;
}



.wrapper-foto-ladoB img {
    border-radius: 3%;
    box-shadow: 0 4px 8px #cba1c7;
}


aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
    grid-area: a;
    width: 100%;

}

aside img {
    border-radius: 3%;
    box-shadow: 0 4px 8px #cba1c7;
}

footer {

    grid-area: f;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;

}

@media (max-width:600px) {
    .container {
        grid-template-areas:
            "h h h"
            "a a a"
            "m m m"
            "f f f";
    }

    header {
        justify-content: center;

    }

    .header-links {
        width: 100%;
    }


    main {
        padding-top: 0px;
    }
}

@media (max-width: 900px) {


    .container {
        grid-template-areas:
            "h h h"
            "a a a"
            "m m m"
            "f f f";
    }

    header {
        justify-content: center;

    }

    .header-links {
        width: 100%;
    }


    main {
        padding-top: 0px;
    }
}