/*formatação linha e coluna*/
.linha {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 0px 0;
}

.imagemPadrao {
	width: 940px;
}

.coluna {
	padding: 0 10px;
	float: left;
}

.col1 {
	width: 60px;
}

.col2 {
	width: 140px;
}

.col3 {
	width: 220px;
	/* 140px + 80px */
}

.col4 {
	width: 300px;
	/* 220px + 80px */
}

.col5 {
	width: 380px;
	/* 300px + 80px */
}

.col6 {
	width: 460px;
	/* 380px + 80px */
}

.col7 {
	width: 540px;
	/* 460px + 80px */
}

.col7Personalizada {
	width: 500px;
	/* 460px + 80px */
}

.col8 {
	width: 620px;
	/* 540px + 80px */
}

.col9 {
	width: 700px;
	/* 620px + 80px */
}

.col10 {
	width: 780px;
	/* 700px + 80px */
}

.col11 {
	width: 860px;
	/* 780px + 80px */
}

.col12 {
	width: 940px;
	/* 860px + 80px */
}

/*estilos reutilizavel*/
body {
	font-family: 'Flame-Regular', sans-serif;
	font-weight: 800;
	color: #FAF9F9;
	background: #f4eadb;
}

.containerH2 {
	padding: 45px 0 0 0;
	text-align: center;
	font-size: 60px;
	margin: 0;
}

p {
	margin-bottom: 0.1px;
	margin-top: 0.1px;
}

.tituloHdois {
	font-weight: 2000;
	font-size: 27px;
	letter-spacing: 1px;
	font-family: 'Flame-Regular', sans-serif;
	padding: 50px 1px 0px 30px;
}

.imagemAjustada {
	max-width: 100%;
	height: auto;
}

.menu {
	height: 104px;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: 'Flame-Regular', sans-serif;
	font-weight: 600;
}

.wrapper {
	background: #f11c04;
	width: 940px;
	margin: -2px auto;
	overflow: auto;
}

.wrapperDois {
	background: #f11c04;
	width: 940px;
	margin: -2px auto;
	height: 595px;
}

.containerGooglePlay,
.containerAppStore {
	padding-top: 60px;
	max-width: 90%;
	height: auto;
	transition: transform 0.3s;
}

.containerGooglePlay:hover,
.containerAppStore:hover {
	transform: scale(1.1);
}

.wrap-baixar-app {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}

a.menuNavegacao:link,
a.menuNavegacao:active,
a.menuNavegacao:visited {
	text-decoration: none;
	border: 1px solid white;
	background: #f11c04;
	padding: 3px;
	border-radius: 12px;
	color: #FFFDF6;
	font-size: 25px;
	text-align: center;
}

a.menuNavegacao:hover {
	text-decoration: none;
	color: #CDC60E;
	font-weight: 1200;
}

ul.inline li,
ol.inline li {
	display: inline;
	margin: 0 10px;
}

.EspacoLogoPagina {
	height: 136px;
	align-items: center;
	display: flex;
}

.logoPagina {
	height: 100px;
	max-width: 100%;
}

.sem-padding {
	padding: 0;
}

.bannerAviso {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 900px;

}

h2.h2Aviso {
	color: #663311;
	background: #fcac04;
	border-radius: 8px;
	font-weight: 900;
	font-size: 12px;
	text-align: center;
	width: 740px;

	margin: 0 auto;
	line-height: 20px;
}

footer {
	width: 940px;
	background: #542414;
	width: 940px;
	margin: -2px auto;
}

.logo-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2px;
}

.containerTextoFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	color: white;
}

.containerTextoDoisFooter {
	padding-bottom: 20px;
	border-bottom: 2px solid white;
	width: 640px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin-bottom: -2px;
}

a.linkFooter {
	text-decoration: none;
	color: #FCFCF7;
	font-weight: 1500;
	font-size: 17px;
	padding: 0px 9px;
}

a.linkFooter:hover {
	text-decoration: underline;
	font-weight: 1500;
	font-size: 18px;
}

a.linkFooterDois {
	text-decoration: none;
	color: #FCFCF7;
	font-weight: 1200;
	font-size: 13px;
	padding: 0px 9px;
}

a.linkFooterDois:hover {
	text-decoration: underline;
	font-weight: 1200;
	font-size: 14px;
}

.sem-barra {
	overflow: hidden !important;
}

.share.img {
	width: 20px;
}

h3 {
	text-align: center;
	font-size: 15px;
}

.menu-footer-first {
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: 'Flame-Regular', sans-serif;
	font-weight: 600;
}

.menu-footer-second {
	white-space: nowrap;
	justify-content: center;
	display: flex;
	font-family: 'Flame-Regular', sans-serif;
	font-weight: 600;
}

.lista-social-links {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.lista-social-links img {
	padding: 0 7px;
	width: 30px;
	transition: transform 0.3s;
}

.lista-social-links img:hover {
	transform: scale(1.1);
}

.carrossel {
	overflow: hidden;
	height: 500px;
	width: 500px;
}

.containerCarrossel {
	display: flex;
	transition: transform 0.5s ease-in-out;
	transform: translateX(0);
}

.containerCarrossel img {
	object-fit: contain;
	object-position: center;
	height: 500px;
	width: 500px;
}

.containerMilkshake {
	text-align: center;
	height: auto;
	width: 380px;
	text-align: center;
}

.milkshakeTexto {
	color: #f11c04;
	font-weight: 800;
	font-size: 30px;
	text-align: center;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.milkshake {
	width: 300px;
	text-align: center;
}

#timer {
	font-size: 50px;
	color: #f11c04;
	font-weight: 800;
	text-align: center;
	height: 50px;
	padding-top: 70px;
	padding-bottom: -10px;
}

.wrapperTimerMilkshake {
	height: 500px;
}

a.voltarTopo {
	text-decoration: none;
	color: white;
	font-size: 10px;
	background: red;
	padding: 5px 10px;
	border-radius: 5px;
	display: inline-block;
	height: 35px;
	text-align: center;
}

.wrapVolteAoTopo {
	width: 55px;
	height: auto;
}

.iconizin {
	display: flex;
	width: 55px;
	text-align: center;
	margin-botton: -10px;
}

h5 {
	text-align: center;
	margin-top: 5px;
}

#linkTopo {
	text-decoration: none;
	color: red;
	padding: 10px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 3px 3px 10px #857F7F;
	border-radius: 100%;
	cursor: pointer;
}

#linkTopo:hover {
	text-decoration: none;
	width: 30px;
	padding: 10px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 3px 3px 10px #857F7F;
	border-radius: 100%;
	cursor: pointer;
}

* {
	scroll-behavior: smooth;
}